[submodule "ros/src/thirdparty/navigation2"]
	path = ros/src/thirdparty/navigation2
	url = git@github.com:ros-planning/navigation2.git
[submodule "ros/src/thirdparty/rplidar_ros"]
	path = ros/src/thirdparty/rplidar_ros
	url = git@github.com:huigang39/rplidar_ros.git
