[submodule "ros/src/thirdparty/navigation2"]
	path = ros/src/thirdparty/navigation2
	url = git@github.com:ros-planning/navigation2.git
[submodule "ros/src/thirdparty/rplidar_ros"]
	path = ros/src/thirdparty/rplidar_ros
	url = git@github.com:huigang39/rplidar_ros.git
[submodule "ros/src/thirdparty/cartographer"]
	path = ros/src/thirdparty/cartographer
	url = git@github.com:ros2/cartographer.git
[submodule "ros/src/thirdparty/cartographer_ros"]
	path = ros/src/thirdparty/cartographer_ros
	url = git@github.com:ros2/cartographer_ros.git
